/*YJM FOOTER*/

.footerColor {
        background-color: papayawhip;
        color: black;
}

.footerFrame {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        margin: 0;
}

.footerText {
        color:black;
        text-align: justify;
        align-content: center;
        display: grid;
        grid-template-columns: auto;
        grid-row-start: 1;
        grid-gap: 20px;
        padding: 20px;

      

}
